@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Diphylleia";
	src: url(../public/assets/fonts/Diphylleia-Regular.ttf);
}

body {
    font-family: "Diphylleia";
}